.contact-container{
    min-height: calc(100vh - 64px);
    background-image: linear-gradient(to right, #9a74f6, #440ccc);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact-data{
    min-height: 70%;
    width: 50vw;
    padding: 30px 10px;
    background-color: white;
}

.contact-box{
    position: relative;
}

.prev-next{
    position: absolute;
    bottom: 0;
    right: 15px;
}

.submit-button{
    background-color:#440ccc;
    color: white;
}

.submit-button:hover{
    background-color: #361fa7;
    color: white;
}