.edu-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #9a74f6, #440ccc);
}

.edu-box{
    min-height: 70%;
    width: 60vw;
    padding: 30px 10px;
    background-color: white;
    position: relative;
}

.edu-left{
    padding: 0 10px;
    border-right: 1px solid #440ccc;
}

.edu-right{
    padding: 0 10px;
}

.emp-checkbox{
    position: static;
}

.mui-tabs__bar>li.mui--is-active>a {
    color: #440ccc;
}

.mui-tabs__bar>li.mui--is-active {
    border-bottom: 2px solid #440ccc;
}

.tab-pane-content{
    margin-top: 20px;
}

.mui-row h4{
    color: rgb(180, 177, 177);
}

.mui-row h4,
.mui-row h3{
    margin-left: 15px;
}

.edu-button{
    position: absolute;
    bottom: 0;
    right: 20px;
}



